*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #eaebed;
}

/*code for container*/

.container{
    width: 50%;
    height: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}

/*code for btn*/

.btn{
    cursor: pointer;
    font-weight: bold;
    margin: 5px 20px 10px 5px;
}

/*code for btn-1*/

.btn-1{
    position: relative;
    padding: 6px 12px;
    background: orangered;
    color: white;
    box-shadow:  -6px 6px 0 hsl(16, 37%, 35%);
    border: none;
    outline: none;
    font-size: 1.5rem;
}

 .btn-1:active{
     background: hsl(16, 100%, 40%);
     top: 3;
     left: -3px;
     box-shadow: -3px 3px 0 hsl(16, 100%, 30%)
     
 }

 .btn-1::before{
     position: absolute;
     content: "";
     height: 0;
     width: 0;
     display: block;
     border: 6px solid transparent;
     border-left-width: 0;
     border-right: 6px solid hsl(16, 100%, 30%);
     top: 0;
     left: -6px;     
 }

 .btn-1::after{
     position: absolute;
     display: block;
     content: "";
     height: 0;
     width: 0;
     border: 6px solid transparent;
     border-top: 6px solid hsl(16, 100%, 30%);;
     border-bottom-width: 0;
     right: 0;
     bottom: -6px;
 }

 .btn-1:active::before{
     border: 3px solid transparent;
     border-right: 3px solid hsl(16, 100%, 30%);
     border-left-width: 0;
     top: 0;
     left: -3px;
 }

 .btn-1:active::after{
     border: 3px solid transparent;
     border-top: 3px solid hsl(16, 100%, 30%);
     border-bottom-width: 0;
     right: 0;
     bottom: -3px;
 }

/*code for btn-2*/

.btn-3d-2{
    position: relative;
    font-size: 1.5rem;
    background: yellow;
    background: radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    color: white;
    text-shadow: 0 -1px 0 #c3af07;
    border-radius: 100px;
    height: 120px;
    width: 120px;
    border: 1px solid hsl(54, 100%, 20%);
    z-index: 4;
    box-shadow: inset 0 1px 0 hsl(54, 100%, 50%),
                0 2px 0 hsl(54, 100%, 20%),
                0 3px 0 hsl(54, 100%, 18%), 
                0 4px 0 hsl(54, 100%, 16%), 
                0 5px 0 hsl(54, 100%, 14%), 
                0 6px 0 hsl(54, 100%, 12%), 
                0 7px 0 hsl(54, 100%, 10%), 
                0 8px 0 hsl(54, 100%, 8%), 
                0 9px 0 hsl(54, 100%, 6%); 
}

 .btn-3d-2:hover{
   background: radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
 }
.btn-3d-2:active{
    background: radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
    top: 2px;
    box-shadow: inset 0 1px 0 hsl(54, 100%, 50%),
                0 2px 0 hsl(54, 100%, 20%),
                0 3px 0 hsl(54, 100%, 18%), 
                0 4px 0 hsl(54, 100%, 16%), 
                0 5px 0 hsl(54, 100%, 14%), 
                0 6px 0 hsl(54, 100%, 12%), 
                0 7px 0 hsl(54, 100%, 10%); 
}
